:root{
    --bg1:#9b59b6;
    --bg2:#3498db;
    --text: #26ade4;
}
*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
a{
    text-decoration: none;
}
.madal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right,var(--bg1),var(--bg2));
  
}
.auth-form{
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px;
}
.auth-form_header h1{
    margin-bottom: 40px;
}
.auth-form button{
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(120deg,var(--bg1),var(--bg2),var(--bg1));
    border: none;
    color: #fff;
    border-radius: 5px;
    background-size: 200%;
    transition: 0.5s;
}
.auth-form button:hover{
    background-position: right;
}
.auth-form_group {
    margin-bottom: 40px;
    position: relative;  
    
}
.auth-form_group input{
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid#ccc;
    cursor: pointer;
    padding: 10px 0px 10px 0px; 
}
.auth-form_group label{
    position: absolute;
    left: 5px;
    transition: 0.5s;
}
.auth-form_contrals{
    margin-top: 20px;
}